<div class="comments">
  {{#each this}}
    <ul class="comment-content-container">
      <li class="comment-content">{{comment_content}}</li>
      <li class="comment-creator">{{user.user_name}}
        commented on
        {{format_date created_at}}</li>
    </ul>
  {{/each}}
</div>