<div class="comments">
  {{#each this}}
    <section class="comment-container">
      <div>
        {{comment_content}}
      </div>
      <div>
        {{user.user_name}}
        commented on
        {{format_date created_at}}
      </div>
    </section>
  {{/each}}
</div>