<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CyberSphere</title>
    <meta name="description" content="A Tech Blog Website" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>CyberSphere</h1>
      <nav>
        <ul>
          <section class="nav-links">
            <li><a href="/"><span aria-hidden="true">Home</span></a></li>
            {{#unless logged_in}}
              <li><a href="/login"><span
                    aria-hidden="true"
                  >Login</span></a></li>
            {{else}}
              <li><a href="/dashboard"><span
                    aria-hidden="true"
                  >Dashboard</span></a></li>
              <li><a href="/logout" id="logout"><span
                    aria-hidden="true"
                  >Logout</span></a></li>
            {{/unless}}
          </section>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>&copy; 2023 CyberSphere</p>
      <p>Created by Michael Mattingly</p>
    </footer>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>