<section class="edit-post-container">
  <h2>Edit Post</h2>
  <form action="/dashboard/edit/{{post.id}}" method="POST" id="edit-post-form">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input
        type="text"
        name="title"
        id="post-title"
        maxlength="255"
        value="{{post.post_title}}"
      />
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>
      <textarea
        name="content"
        id="post-content" maxlength="255"
      >{{post.post_content}}</textarea>
    </div>
  </form>
  <button type="submit" class="btn" form="edit-post-form">Update Post</button>
  <button type="button" class="btn" id="delete-post">Delete Post</button>
</section>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>