<section class="login-section">
  <h2>Login</h2>
  <form id="login" class="login-form">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username-login"
      placeholder="Enter Username"
      autocomplete="username"
    />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password-login"
      placeholder="Enter Password"
      autocomplete="current-password"
    />
  </form>
  <div id="error-message" style="color: yellow;"></div>
  <button type="submit" class="btn" form="login">Login</button>
  <p>Don't have an account? <a href="/signup">Sign up here</a></p>
</section>

<script src="/js/login.js"></script>