<section>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="post-title" placeholder="Title" />
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        id="post-content"
        placeholder="Write Post here"
      ></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</section>;
