<article class="post-with-comments-article">
  <div class="selected-post-container">
    <div class="selected-post-title-container">
      <h2>{{post.post_title}}</h2>
    </div>
    <div class="selected-post-content-container">
      <p>{{post.post_content}}</p>
    </div>
    <div class="selected-created-info-container">
      <p>Created by {{post.user.user_name}} on {{format_date post.created_at}}</p>
    </div>
  </div>
{{> comments post.comments}}
{{#if logged_in}}
  <div class="comment-input-container">
    <h3>Leave a Comment</h3>
    <form id="comment-form">
        <div class="comment-textarea">
          <textarea id="comment_content" maxlength="255"></textarea>
        </div>
    </form>
  </div>
    <button type="submit" id="comment" class="btn" form="comment-form">Comment</button>
{{/if}}
    <button type="button" class="btn" id="return-home">Return Home</button>
</article>



{{#if logged_in}}
    <script src="/js/comment.js"></script>
{{/if}}
<script src="/js/returnHome.js"></script>


